<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BubbleChartID412d209a3b02</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<style type="text/css">
body {
  color: #444444;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 75%;
  }
  a {
  color: #4D87C7;
  text-decoration: none;
}
</style>
</head>
<body>
 <!-- BubbleChart generated in R 3.2.2 by googleVis 0.5.10 package -->
<!-- Mon Apr 18 16:46:54 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataBubbleChartID412d209a3b02 () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
 "CRI",
-0.3194888179,
4,
"1",
2 
],
[
 "JUD",
-3.552171737,
-2.285714286,
"3",
7 
],
[
 "JUD",
-6.436711409,
-9.5,
"4",
4 
],
[
 "MEX",
-1.751705205,
2.373121387,
"1",
346 
],
[
 "MEX",
-1.740823329,
5.662295082,
"2",
61 
],
[
 "MEX",
-3.112478802,
6.168571429,
"2",
35 
],
[
 "MEXGOV",
-5.91550791,
-2.333333333,
"3",
6 
],
[
 "MEXGOV",
-4.432036589,
-6.75,
"4",
2 
],
[
 "OPP",
-8.308357672,
-7,
"3",
1 
],
[
 "USA",
-0.9455959891,
2.575384615,
"1",
65 
],
[
 "USAGOV",
3.404119916,
3.625,
"1",
8 
],
[
 "",
-1.34362422,
2.528571429,
"1",
14 
],
[
 "",
0.3099018634,
2.226470588,
"1",
34 
],
[
 "",
-3.388640937,
2.7,
"2",
4 
],
[
 "",
-1.198301379,
-2,
"3",
5 
],
[
 "CRM",
-6.832298137,
-4.4,
"3",
1 
],
[
 "CRM",
-4.534660201,
-9.9,
"4",
5 
],
[
 "GOV",
-1.488102057,
2.8,
"1",
6 
],
[
 "GOV",
-7.286474099,
-2.666666667,
"3",
3 
],
[
 "MED",
1.685393258,
-2,
"3",
1 
],
[
 "MEX",
-2.116014755,
2.328671329,
"1",
143 
],
[
 "MEX",
-4.519130985,
-8.057971014,
"4",
69 
],
[
 "MEX",
-1.444783464,
-3.25,
"3",
76 
],
[
 "MEXCRM",
-6.832298137,
-4.4,
"3",
1 
],
[
 "MEXCRM",
-5.592841163,
-10,
"4",
2 
],
[
 "MEXGOV",
-3.41433387,
4,
"1",
6 
],
[
 "USA",
-2.617376075,
1.924137931,
"1",
29 
],
[
 "USA",
-1.711772046,
6.777777778,
"2",
9 
],
[
 "USA",
-3.035607178,
-2.883333333,
"3",
18 
],
[
 "USA",
-3.710861941,
-3.5,
"3",
10 
],
[
 "USA",
-4.272820283,
-7.266666667,
"4",
15 
],
[
 "USA",
-5.224411751,
-5.833333333,
"4",
12 
],
[
 "",
-1.577134824,
-10,
"4",
4 
],
[
 "CAN",
-0.2578428112,
3.4,
"1",
1 
],
[
 "COP",
-4.025709605,
-2,
"3",
3 
],
[
 "JUD",
-6.680455478,
1,
"1",
10 
],
[
 "MEX",
-3.248072376,
-8.984848485,
"4",
33 
],
[
 "MEX",
-3.237984338,
-3.189583333,
"3",
48 
],
[
 "MEXCRM",
-5.38084017,
1.5,
"1",
6 
],
[
 "MIL",
-0.7168458781,
-2,
"3",
1 
],
[
 "CRM",
-1.776983602,
3.685714286,
"1",
7 
],
[
 "JUD",
-5.476389234,
-3,
"3",
2 
],
[
 "MEXELI",
-3.168396701,
1.6,
"1",
8 
],
[
 "MEXGOV",
-1.623632863,
2.092105263,
"1",
38 
],
[
 "BUS",
-0.2204487418,
-8,
"4",
3 
],
[
 "COP",
-5.012827133,
-8.55,
"4",
10 
],
[
 "CRMJUD",
-6.68196786,
0,
"1",
4 
],
[
 "EDU",
-1.254632876,
2.2,
"1",
3 
],
[
 "EDU",
-3.603177354,
8.3,
"2",
4 
],
[
 "GOV",
-3.713036846,
8.3,
"2",
1 
],
[
 "MEXCVL",
-3.314175669,
2.42,
"1",
5 
],
[
 "MEXMIL",
-3.684845053,
5.2,
"1",
2 
],
[
 "MOS",
-2.030761309,
2.275,
"1",
16 
],
[
 "SLV",
-2.910602911,
1.9,
"1",
2 
],
[
 "USAGOV",
-3.684845053,
2.45,
"1",
2 
],
[
 "EUR",
-1.200873362,
6.4,
"2",
1 
],
[
 "GOV",
-3.04341582,
-3,
"3",
5 
],
[
 "MEXLEG",
-2.420349057,
3.666666667,
"1",
6 
],
[
 "MEXLEG",
-2.219674899,
-5,
"4",
3 
],
[
 "USALAB",
-4.09556314,
1.9,
"1",
2 
],
[
 "",
-4.133846385,
7.5,
"2",
4 
],
[
 "GOV",
-3.21168668,
3.326666667,
"1",
15 
],
[
 "",
-3.76780695,
-9,
"4",
5 
],
[
 "BUS",
0.5273213584,
0.625,
"1",
4 
],
[
 "CVL",
-6.245120106,
7,
"2",
1 
],
[
 "GBR",
4.727272727,
8,
"1",
2 
],
[
 "JUD",
-5.410843861,
-0.05,
"1",
2 
],
[
 "CVL",
-0.7632374668,
2.254545455,
"1",
11 
],
[
 "LAB",
-7.37704918,
-9,
"4",
1 
],
[
 "COP",
-8.502720088,
2.5,
"1",
7 
],
[
 "CRM",
-3.986710963,
-2,
"3",
1 
],
[
 "CVL",
0.1389400037,
2.675,
"1",
8 
],
[
 "MED",
-1.803137081,
1.58,
"1",
10 
],
[
 "MEXCRM",
-3.986710963,
-2,
"3",
1 
],
[
 "",
0.02680965147,
-2,
"3",
1 
],
[
 "MEXCVL",
-1.129460797,
-2,
"3",
2 
],
[
 "MEXPTY",
0.05926004376,
2.65,
"1",
4 
],
[
 "MEXPTY",
0.02680965147,
-2,
"3",
1 
],
[
 "USACRM",
0.2865329513,
-2,
"3",
1 
],
[
 "CHN",
-0.6035988819,
3.3,
"1",
3 
],
[
 "COP",
-4.799148287,
2.914285714,
"1",
7 
],
[
 "CVLEDU",
0.0672646333,
2.8,
"1",
2 
],
[
 "MEXMED",
-0.4220335675,
5,
"2",
3 
],
[
 "MNCCANMED",
-4.166666667,
-4,
"3",
2 
],
[
 "MNCCANMED",
-4.166666667,
-9,
"4",
2 
],
[
 "BRA",
0.05736025086,
2.35,
"1",
10 
],
[
 "FRA",
0.7736943907,
2.8,
"1",
1 
],
[
 "SGP",
0.7736943907,
2.8,
"1",
2 
],
[
 "CRI",
0.4956629492,
6.4,
"2",
3 
],
[
 "MOS",
-2.169409123,
-8,
"4",
12 
],
[
 "PER",
2.767316195,
1.833333333,
"1",
3 
],
[
 "tig",
-1.179245283,
4,
"1",
2 
],
[
 "ESP",
-4.294478528,
7,
"2",
1 
],
[
 "CAN",
-2.8,
-2,
"3",
2 
],
[
 "ESP",
0.1268069997,
0,
"1",
2 
],
[
 "HLH",
4.670539004,
0.5,
"1",
2 
],
[
 "HLH",
8.600337268,
-10,
"4",
1 
],
[
 "MEXHLH",
8.600337268,
0,
"1",
1 
],
[
 "MEXHLH",
8.600337268,
-10,
"4",
1 
],
[
 "USA",
-1.025794171,
6.333333333,
"2",
6 
],
[
 "USAPRI",
-2.666666667,
1.9,
"1",
3 
],
[
 "CAN",
-5.427610292,
-9.5,
"4",
2 
],
[
 "COP",
-4.143646409,
7,
"2",
2 
],
[
 "MEXCOP",
-4.245736248,
-9.25,
"4",
2 
],
[
 "MEXCRM",
-4.753542888,
6.933333333,
"2",
3 
],
[
 "MEXCRM",
-4.753542888,
-5,
"4",
3 
],
[
 "MEXCVL",
-1.282562846,
-9.75,
"4",
2 
],
[
 "BRN",
-0.9208103131,
3,
"1",
3 
],
[
 "CRM",
-6.490613246,
-9.75,
"4",
4 
],
[
 "MEXGOV",
-3.283996118,
-3.25,
"3",
4 
],
[
 "MEXPTY",
-2.387500971,
3,
"1",
2 
],
[
 "DEU",
-4.383007417,
6.4,
"2",
2 
],
[
 "USAGOVHLH",
-6.727828746,
3.4,
"1",
5 
],
[
 "CRMCVL",
-2.545454545,
-2,
"3",
1 
],
[
 "ESP",
-2.545454545,
3.4,
"1",
2 
],
[
 "MEXJUD",
-5.614313768,
3.454545455,
"1",
11 
],
[
 "MEXJUD",
-6.871993956,
-5,
"4",
5 
],
[
 "CHRCTH",
0.05186721992,
0.4,
"1",
1 
],
[
 "LAB",
0.05186721992,
0,
"1",
1 
],
[
 "LEG",
-0.498353025,
3,
"1",
1 
],
[
 "VAT",
-1.812688822,
6,
"2",
2 
],
[
 "VAT",
-1.812688822,
-4,
"3",
1 
],
[
 "MNCUSA",
-0.7454739084,
0,
"1",
1 
],
[
 "CVL",
-5.128205128,
-6.5,
"3",
1 
],
[
 "ISR",
-0.2717391304,
1,
"1",
1 
],
[
 "ISR",
-0.2717391304,
-2,
"3",
1 
],
[
 "BUS",
0.2467308167,
3,
"1",
1 
],
[
 "AUT",
2.533429675,
2.8,
"1",
2 
],
[
 "DEU",
2.533429675,
2.8,
"1",
3 
],
[
 "MEXCOP",
-3.524308083,
1,
"1",
2 
],
[
 "MEXCOP",
-3.524308083,
8.3,
"2",
2 
],
[
 "AUS",
-2.411575563,
-3.266666667,
"3",
3 
],
[
 "USAEDU",
-3.10421286,
1.9,
"1",
2 
],
[
 "CHN",
-2.608977597,
6.4,
"2",
2 
],
[
 "BUS",
-0.1333992095,
-3,
"3",
2 
],
[
 "CVL",
-4.014452027,
-7.25,
"4",
2 
],
[
 "MEXBUS",
0.8460236887,
-9.5,
"4",
2 
],
[
 "JPN",
0.3838771593,
-2,
"3",
2 
],
[
 "AZE",
-0.4129911788,
5.98,
"1",
5 
],
[
 "EDU",
-6.442297632,
-10,
"4",
1 
],
[
 "PHL",
3.761348898,
1,
"1",
4 
],
[
 "VENEDU",
-6.4529881,
-10,
"4",
2 
],
[
 "ITA",
-0.2257336343,
-5,
"4",
2 
],
[
 "MEXMED",
-0.0825328864,
1.4,
"1",
2 
],
[
 "LEG",
-0.7838745801,
-6.5,
"3",
2 
],
[
 "USACVL",
-0.7838745801,
-6.5,
"3",
1 
],
[
 "USAMED",
-1.438848921,
-2,
"3",
1 
],
[
 "DOM",
-1.503316469,
3,
"1",
2 
],
[
 "MEXJUD",
-6.334669684,
-5.333333333,
"3",
3 
],
[
 "MEXREB",
-1.239669421,
4,
"1",
3 
],
[
 "MOS",
-3.253763472,
-2,
"3",
3 
],
[
 "REB",
-1.239669421,
4,
"1",
1 
],
[
 "HLH",
0.7407407407,
7.4,
"2",
1 
],
[
 "ITA",
3.007518797,
4,
"1",
2 
],
[
 "MEXGOV",
-2.095987616,
6.85,
"2",
4 
],
[
 "MNCMEX",
-0.3472222222,
7,
"2",
2 
],
[
 "CHE",
1.421648455,
6.25,
"1",
4 
],
[
 "MEXCOP",
-4.119850187,
-4,
"3",
1 
],
[
 "EDU",
-3.666050524,
8.3,
"2",
1 
],
[
 "MEXBUS",
-2.342192691,
-2,
"3",
5 
],
[
 "USAGOV",
-3.666050524,
8.3,
"2",
1 
],
[
 "MEXCRM",
-4.21179302,
3.5,
"1",
2 
],
[
 "MNCUSA",
0.5016722408,
1.9,
"1",
3 
],
[
 "GOVAGR",
0.9945464983,
1.9,
"1",
2 
],
[
 "USAMEDGOV",
-2.75862069,
1.9,
"1",
3 
],
[
 "CRM",
-2.535211268,
5.2,
"1",
1 
],
[
 "CRM",
-2.535211268,
6,
"2",
1 
],
[
 "CUB",
-5.504587156,
1.9,
"1",
1 
],
[
 "CUBCVL",
-5.504587156,
1.9,
"1",
1 
],
[
 "MEXJUD",
-6.553911205,
-2,
"2",
1 
],
[
 "MIL",
-2.077922078,
-2,
"2",
1 
],
[
 "NGOHRIAMN",
-6.553911205,
-2,
"2",
2 
],
[
 "MOS",
-3.572613024,
2.113043478,
"1",
23 
],
[
 "MOS",
-4.225281283,
-9,
"4",
7 
],
[
 "ELI",
1.795142555,
1,
"1",
1 
],
[
 "COP",
-6.179437905,
-4.75,
"3",
2 
],
[
 "MEXELI",
-1.673699448,
-2,
"3",
2 
],
[
 "MEXJUD",
-2.423469388,
-5,
"4",
2 
],
[
 "CHRCTH",
1.165048544,
2.8,
"1",
1 
],
[
 "LEG",
-1.748569592,
2.76,
"1",
5 
],
[
 "MEXCVL",
0.9475899303,
2.9,
"1",
5 
],
[
 "MEXEDU",
-2.154775702,
0.95,
"1",
2 
],
[
 "LEG",
-5.740181269,
6.4,
"2",
1 
],
[
 "MEXELI",
-1.875,
0,
"1",
1 
],
[
 "EDU",
0.5449591281,
-2,
"3",
1 
],
[
 "COPGOV",
2.58302583,
0.95,
"1",
2 
],
[
 "NMR",
-0.304414003,
7,
"2",
2 
],
[
 "EDUGOV",
-0.1644736842,
2.8,
"1",
1 
],
[
 "GOV",
-1.120562968,
8.2,
"2",
5 
],
[
 "MEXJUD",
-8.217270195,
1,
"1",
1 
],
[
 "RUSGOV",
-2.666666667,
-2,
"3",
1 
],
[
 "MIL",
4.623287671,
0.6666666667,
"1",
3 
],
[
 "CHL",
2.538071066,
1,
"1",
1 
],
[
 "COP",
-7.061381301,
-9.833333333,
"4",
3 
],
[
 "EDU",
1.807664497,
2.8,
"1",
2 
],
[
 "GOV",
-7.594936709,
-5,
"4",
2 
],
[
 "HND",
-5.205811138,
-9.5,
"4",
2 
],
[
 "MEXCOP",
-7.594936709,
-10,
"4",
2 
],
[
 "CAN",
1.505863676,
6.85,
"2",
4 
],
[
 "CHN",
0.6686204321,
3.1,
"1",
6 
],
[
 "EGY",
-2.830188679,
1,
"1",
1 
],
[
 "RUS",
0.9187386616,
1.9,
"1",
3 
],
[
 "URY",
-2.543720191,
8,
"1",
2 
],
[
 "ARG",
-2.898550725,
1.9,
"1",
3 
],
[
 "CHR",
-2.898550725,
2.266666667,
"1",
3 
],
[
 "CHRCTHCVL",
-2.898550725,
2.8,
"1",
2 
],
[
 "MEXCVL",
-2.898550725,
-2,
"3",
2 
],
[
 "POL",
0.4185022026,
3.4,
"1",
2 
],
[
 "THA",
0.4185022026,
3.4,
"1",
1 
],
[
 "MEXBUS",
0.3676470588,
7,
"2",
1 
],
[
 "RUS",
-5.134055904,
6.4,
"2",
3 
],
[
 "",
-0.01857646067,
2.915625,
"1",
32 
],
[
 "CHN",
0.9185098736,
2.8,
"1",
3 
],
[
 "COP",
-5.176118188,
-8.7,
"4",
5 
],
[
 "COP",
-4.863244261,
-8.285714286,
"4",
7 
],
[
 "CVL",
-0.8871965717,
1.933333333,
"1",
6 
],
[
 "GOV",
0.05182271187,
4.714285714,
"1",
7 
],
[
 "GOV",
-4.256950549,
-2.5,
"3",
4 
],
[
 "JUD",
-3.565176694,
0.6333333333,
"1",
3 
],
[
 "JUD",
-7.179962363,
1.36,
"1",
10 
],
[
 "JUD",
-6.73699547,
-4,
"3",
1 
],
[
 "MEX",
-1.259959009,
2.603741497,
"1",
294 
],
[
 "MEX",
-1.490846479,
2.683823529,
"1",
204 
],
[
 "MEX",
-2.350653734,
-3.553448276,
"3",
58 
],
[
 "MEX",
-4.021406587,
-3.609375,
"3",
32 
],
[
 "MEX",
-4.011493513,
-7.653012048,
"4",
83 
],
[
 "MEX",
-3.626134669,
-7.809090909,
"4",
33 
],
[
 "MEXGOV",
-3.212112498,
4.883333333,
"1",
12 
],
[
 "MEXGOV",
-4.882029876,
-2,
"3",
4 
],
[
 "MOS",
-2.632744697,
1.3,
"1",
12 
],
[
 "MOS",
-3.184327894,
-2,
"3",
2 
],
[
 "MOS",
-3.309628249,
-9.333333333,
"4",
6 
],
[
 "MOS",
-3.002753307,
-9,
"4",
3 
],
[
 "RUS",
-0.7761942267,
1.9,
"1",
5 
],
[
 "USA",
-0.787520268,
2.769444444,
"1",
72 
],
[
 "USA",
1.98024533,
6.576923077,
"2",
13 
],
[
 "USA",
-5.52229945,
-6.619047619,
"4",
21 
],
[
 "",
-1.879327323,
-3,
"3",
3 
],
[
 "CUB",
0.4404894327,
3.52,
"1",
5 
],
[
 "EDU",
0.1390469172,
3.655555556,
"1",
9 
],
[
 "GOV",
-1.214627713,
6.775,
"2",
4 
],
[
 "MEX",
-2.191116742,
5.682352941,
"2",
51 
],
[
 "USA",
-1.760402835,
2.282352941,
"1",
68 
],
[
 "USA",
-0.5155614377,
4.221052632,
"2",
19 
],
[
 "USA",
-1.467899321,
-3.728,
"3",
25 
],
[
 "",
-2.531158536,
2.366666667,
"1",
24 
],
[
 "AUS",
-1.112831985,
3.933333333,
"1",
3 
],
[
 "BRN",
1.789709172,
8,
"1",
1 
],
[
 "BUS",
1.26975584,
1.7,
"1",
4 
],
[
 "CAN",
1.027783926,
4.242857143,
"1",
7 
],
[
 "CHL",
-2.254960131,
4.5,
"1",
2 
],
[
 "COP",
-6.867755532,
6,
"2",
2 
],
[
 "JPN",
0.7381147742,
5.4,
"1",
2 
],
[
 "MEXJUD",
-6.526653167,
1.642857143,
"1",
7 
],
[
 "MYS",
1.789709172,
8,
"1",
1 
],
[
 "NZL",
1.789709172,
8,
"1",
1 
],
[
 "PER",
1.789709172,
8,
"1",
1 
],
[
 "SGP",
1.789709172,
8,
"1",
1 
],
[
 "VNM",
1.789709172,
8,
"1",
1 
],
[
 "",
-2.636399892,
-3.3,
"3",
6 
],
[
 "",
-5.877992552,
-8,
"4",
6 
],
[
 "MEX",
-3.145371051,
5.860869565,
"2",
23 
],
[
 "COL",
-4.872766649,
-5,
"4",
2 
],
[
 "EDU",
-6.41509434,
-10,
"4",
1 
],
[
 "MOS",
-2.358710417,
1.266666667,
"1",
6 
],
[
 "USA",
-4.50596049,
-4.590909091,
"3",
11 
],
[
 "VENEDU",
-5.113725077,
-10,
"4",
3 
],
[
 "COL",
-0.8878267747,
3.52,
"1",
5 
],
[
 "MEXCRM",
-3.180257957,
1.733333333,
"1",
6 
],
[
 "NMR",
-2.272727273,
3,
"1",
2 
],
[
 "",
-4.058583169,
7.15,
"2",
12 
],
[
 "CHRPRO230EDU",
0,
3.4,
"1",
1 
],
[
 "CRM",
-2.367276593,
3.4,
"1",
6 
],
[
 "GOV",
-3.079789566,
2.106666667,
"1",
15 
],
[
 "GOV",
-6.228747632,
-3.333333333,
"3",
3 
],
[
 "GOV",
-7.570076946,
-8.375,
"4",
8 
],
[
 "ITA",
-1.72252347,
2.5,
"1",
3 
],
[
 "LEG",
-1.036251126,
2.86,
"1",
5 
],
[
 "MEXCOP",
-8.425148387,
-8.8,
"4",
5 
],
[
 "MEXCOP",
-7.046979866,
-5,
"3",
3 
],
[
 "MEXCVL",
-0.7920775906,
-2,
"3",
3 
],
[
 "MEXGOV",
-2.868543466,
-3.666666667,
"3",
3 
],
[
 "MEXGOV",
-5.029182127,
-5.5625,
"4",
8 
],
[
 "EDU",
0.5290473638,
2.74,
"1",
5 
],
[
 "HLH",
0.9057971014,
1.9,
"1",
1 
],
[
 "MEXJUD",
-7.112068966,
-2,
"3",
1 
],
[
 "MED",
-3.420523139,
-2,
"3",
2 
],
[
 "MEXCVL",
-1.421661281,
1.5,
"1",
2 
],
[
 "MEXPTY",
-5.478841871,
1,
"1",
1 
],
[
 "PTY",
-3.292005606,
2.2,
"1",
2 
],
[
 "",
0.5668111375,
8.45,
"2",
4 
],
[
 "CRM",
-5.798740889,
-2,
"3",
5 
],
[
 "CVL",
-3.677247357,
2.933333333,
"1",
3 
],
[
 "LAB",
-12.64367816,
-6.5,
"3",
1 
],
[
 "MED",
-1.694915254,
8.3,
"2",
1 
],
[
 "MEXGOV",
-3.057920293,
2.818181818,
"1",
11 
],
[
 "USA",
-2.618769511,
-6,
"4",
9 
],
[
 "USAGOV",
-2.769567769,
2.6,
"1",
3 
],
[
 "VNM",
1.08374805,
-10,
"4",
1 
],
[
 "BLZ",
-4.424778761,
2.35,
"1",
4 
],
[
 "EDUEDU",
-9.395566742,
0,
"1",
3 
],
[
 "EDUEDU",
-9.349306636,
-10,
"4",
4 
],
[
 "HIN",
-3.136200717,
0,
"1",
2 
],
[
 "HIN",
-3.136200717,
6.4,
"2",
2 
],
[
 "CHE",
0.5405405405,
1,
"1",
1 
],
[
 "BUS",
1.875,
2.8,
"1",
2 
],
[
 "JUD",
-17.0212766,
-2,
"3",
1 
],
[
 "MEXELI",
-2.575582745,
1.466666667,
"1",
3 
],
[
 "JUD",
-6.825612685,
-7.5,
"4",
4 
],
[
 "COP",
-7.215888689,
2.48,
"1",
5 
],
[
 "JUDJUD",
-7.049180328,
-5,
"4",
1 
],
[
 "JUDJUD",
-8.149645744,
-5,
"4",
3 
],
[
 "BRA",
-4.379122612,
1.75,
"1",
6 
],
[
 "BUS",
-5.479452055,
-5,
"4",
1 
],
[
 "MEXELI",
-1.562323339,
-2,
"3",
1 
],
[
 "USABUS",
-1.518361582,
2.8,
"1",
1 
],
[
 "ABR010",
1.192504259,
-10,
"4",
2 
],
[
 "CHL",
1.120907,
-5,
"3",
2 
],
[
 "PHL",
4.260089686,
5.2,
"1",
2 
],
[
 "HND",
-7.3011703,
5.4,
"1",
9 
],
[
 "CRM",
-3.53227771,
-10,
"4",
1 
],
[
 "MEXGOV",
-2.713274746,
7.533333333,
"2",
3 
],
[
 "VAT",
-5.230181143,
1.9,
"1",
2 
],
[
 "CRM",
-11.24567474,
-10,
"4",
1 
],
[
 "MEXCOP",
-11.24567474,
3.4,
"1",
1 
],
[
 "MEXLEG",
-6.8019637,
3,
"1",
2 
],
[
 "MEXLEG",
-4.554156683,
-5,
"4",
2 
],
[
 "USAGOV",
-5.164106557,
4.633333333,
"1",
3 
],
[
 "EUR",
-0.1771479185,
1,
"1",
2 
],
[
 "OPP",
-3.02619457,
5,
"2",
1 
],
[
 "JPN",
-3.302752294,
4,
"1",
3 
],
[
 "JPN",
-3.302752294,
10,
"2",
3 
],
[
 "BEL",
0.4140786749,
-9.5,
"4",
2 
],
[
 "CZE",
0.4140786749,
-9.5,
"4",
2 
],
[
 "COL",
-0.6061127528,
1.9,
"1",
4 
],
[
 "IMG",
-1.040312094,
5,
"2",
1 
],
[
 "AUS",
-2.411575563,
-3.266666667,
"3",
3 
],
[
 "BOLGOV",
-1.441677588,
1.9,
"1",
1 
],
[
 "COP",
-1.171966614,
4.45,
"1",
4 
],
[
 "CUB",
0.4772511558,
2.725,
"1",
4 
],
[
 "MNCUSA",
0.4167844282,
6.5,
"2",
2 
],
[
 "USAEDU",
-3.10421286,
1.9,
"1",
2 
],
[
 "USAELIGOV",
-1.279590531,
-5,
"4",
3 
],
[
 "CHR",
0.9397047272,
0,
"1",
2 
],
[
 "ESP",
-1.73005443,
3.12,
"1",
5 
],
[
 "JEW",
-4.873646209,
-2,
"3",
1 
],
[
 "USAPRI",
-6.542056075,
1.9,
"1",
2 
],
[
 "BLZ",
1.731601732,
1.9,
"1",
2 
],
[
 "MED",
-2.23961563,
1.825,
"1",
8 
],
[
 "ARG",
0,
-10,
"4",
2 
],
[
 "COL",
0,
-10,
"4",
2 
],
[
 "MEXCRM",
-5.584901401,
-8.625,
"4",
4 
],
[
 "OPP",
-7.619047619,
-7,
"3",
1 
],
[
 "CHRCTH",
-5.882352941,
1.9,
"1",
1 
],
[
 "USAPRI",
-5.321475562,
1.9,
"1",
4 
],
[
 "MED",
-5.742296919,
-7,
"4",
2 
],
[
 "LEG",
-2.682649246,
5.071428571,
"1",
7 
],
[
 "ESP",
-3.790849673,
0,
"1",
1 
],
[
 "MEXJUD",
-2.412746072,
-5,
"4",
2 
],
[
 "MIL",
3.95480226,
1,
"1",
3 
],
[
 "len",
-6.96969697,
-10,
"4",
1 
],
[
 "AZE",
-1.162790698,
7,
"1",
4 
],
[
 "CRM",
-3.941605839,
6.4,
"2",
1 
],
[
 "CAN",
0,
4,
"1",
6 
],
[
 "CAN",
-0.2770083102,
7.4,
"2",
1 
],
[
 "DEU",
0.7786429366,
2.8,
"1",
2 
],
[
 "HUN",
0.7786429366,
2.8,
"1",
2 
],
[
 "USAMED",
-2.580645161,
0,
"1",
1 
],
[
 "GBR",
0.5706528752,
4.333333333,
"1",
3 
],
[
 "USAJUD",
8.600337268,
3.4,
"1",
2 
],
[
 "USACRM",
0.07770639886,
-2,
"3",
1 
],
[
 "USAREB",
-0.9302325581,
3.4,
"1",
1 
],
[
 "USAREB",
1.085645356,
3.4,
"1",
1 
],
[
 "MEXELI",
-2.412280702,
-4,
"3",
1 
],
[
 "MEXLEG",
0.7180751613,
5,
"1",
2 
],
[
 "MEXLEG",
-2.412280702,
-5,
"3",
1 
],
[
 "MNCUSA",
2.948402948,
3.4,
"1",
1 
],
[
 "USAGOV",
-2.420856611,
-5,
"4",
2 
],
[
 "AUS",
-6.868686869,
-10,
"4",
1 
],
[
 "CRM",
-6.868686869,
3.4,
"1",
1 
],
[
 "JOR",
0.8259212198,
1.9,
"1",
1 
],
[
 "EDUEDU",
0.3745318352,
-6.5,
"3",
1 
],
[
 "SLV",
-4.335793358,
-4.4,
"3",
1 
],
[
 "BUS",
-1.92,
-4,
"3",
1 
],
[
 "USAGOV",
-1.92,
-4,
"3",
1 
],
[
 "CHN",
2.80914318,
2.92,
"1",
5 
],
[
 "GTM",
-1.052631579,
2.8,
"1",
2 
],
[
 "MEXCVL",
-1.345030063,
1.266666667,
"1",
3 
],
[
 "USACOP",
-5.015479876,
1,
"1",
1 
],
[
 "COP",
-8.241758242,
-7.5,
"3",
1 
],
[
 "NMR",
-0.3058103976,
7,
"2",
2 
],
[
 "MEXCRM",
-7.942238267,
6,
"2",
1 
],
[
 "MEXJUD",
-4.463579356,
-5,
"4",
5 
],
[
 "MEXELI",
-2.985074627,
-10,
"4",
1 
],
[
 "ESPSET",
-2.645502646,
1.9,
"1",
2 
],
[
 "JAM",
3.571428571,
-2,
"3",
2 
],
[
 "MEXCRM",
-2.564102564,
-2,
"3",
1 
],
[
 "MEXCRM",
-0.9523809524,
-4.4,
"3",
1 
],
[
 "PTY",
-0.9523809524,
-4,
"4",
2 
],
[
 "lenCVL",
-2.803738318,
1.9,
"1",
2 
],
[
 "EDU",
-2.926421405,
-2,
"2",
1 
],
[
 "LAB",
-1.020408163,
2.7,
"2",
2 
],
[
 "REB",
-3.879781421,
0,
"1",
1 
],
[
 "GTM",
-11.19133574,
3.4,
"1",
4 
],
[
 "PER",
-0.8450704225,
4,
"1",
2 
],
[
 "SLV",
-11.19133574,
3.4,
"1",
4 
],
[
 "CRMBUS",
-3.545402765,
-9.5,
"4",
3 
],
[
 "MEXMIL",
-2.497027348,
-10,
"4",
1 
],
[
 "USAMIL",
-2.497027348,
-10,
"4",
2 
],
[
 "CVL",
-5.604719764,
-5,
"4",
1 
],
[
 "NGOBUSWEF",
0.8470159235,
1.9,
"1",
1 
],
[
 "PHL",
-2.366863905,
7,
"2",
1 
],
[
 "EDU",
2.597402597,
-2,
"2",
1 
],
[
 "FRA",
0.5341676588,
1,
"1",
2 
],
[
 "MOS",
-3.641456583,
7.4,
"2",
2 
],
[
 "CHRCTH",
-0.9082701151,
1.942857143,
"1",
7 
],
[
 "MEXCVL",
-3.452741114,
-9,
"4",
1 
],
[
 "CAN",
-4.444444444,
-2,
"3",
1 
],
[
 "USAMIL",
-2.034883721,
5.2,
"1",
1 
],
[
 "USAMIL",
-2.034883721,
7,
"2",
1 
],
[
 "CHN",
-4.293628809,
-2,
"3",
2 
],
[
 "ECU",
-3.676695854,
-5,
"4",
6 
],
[
 "",
-3.318250377,
-10,
"4",
1 
],
[
 "PRT",
-1.164483261,
4,
"1",
1 
],
[
 "RUS",
-3.318250377,
-10,
"4",
2 
],
[
 "SLV",
-5.339135177,
-10,
"4",
1 
],
[
 "BRACOP",
-1.657458564,
-2,
"1",
2 
],
[
 "BRACOP",
-1.657458564,
-5,
"4",
2 
],
[
 "CVL",
-3.426124197,
-5,
"3",
2 
],
[
 "MEXMED",
-1.657458564,
0.5,
"1",
4 
],
[
 "MEXMED",
-1.657458564,
5,
"2",
1 
],
[
 "COP",
-0.6899195094,
7.4,
"2",
1 
],
[
 "MEXEDU",
6.338028169,
8,
"1",
1 
],
[
 "MIL",
-5.263157895,
-9,
"4",
1 
],
[
 "BLZ",
-2.960526316,
-5,
"4",
2 
] 
];
data.addColumn('string','actor');
data.addColumn('number','tone');
data.addColumn('number','goldstein');
data.addColumn('string','gClass');
data.addColumn('number','number');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartBubbleChartID412d209a3b02() {
var data = gvisDataBubbleChartID412d209a3b02();
var options = {};
options["title"] = "Separability of gClass acording to Goldstein Index";
options["vAxes"] = [{title:'Goldstein'}];
options["hAxes"] = [{title:'Tone'}];
options["width"] =   1000;
options["height"] =    700;


    var chart = new google.visualization.BubbleChart(
    document.getElementById('BubbleChartID412d209a3b02')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "corechart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartBubbleChartID412d209a3b02);
})();
function displayChartBubbleChartID412d209a3b02() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartBubbleChartID412d209a3b02"></script>
 
<!-- divChart -->
  
<div id="BubbleChartID412d209a3b02" 
  style="width: 1000; height: 700;">
</div>
 <div><span>Data: concat &#8226; Chart ID: <a href="Chart_BubbleChartID412d209a3b02.html">BubbleChartID412d209a3b02</a> &#8226; <a href="https://github.com/mages/googleVis">googleVis-0.5.10</a></span><br /> 
<!-- htmlFooter -->
<span> 
  R version 3.2.2 (2015-08-14) 
  &#8226; <a href="https://developers.google.com/terms/">Google Terms of Use</a> &#8226; <a href="https://google-developers.appspot.com/chart/interactive/docs/gallery/bubblechart">Documentation and Data Policy</a>
</span></div>
</body>
</html>
